/* @media screen and (min-width:438px){
.featured{
 text-align: center;
}

}
@media screen and (min-width:650px){
 .row{
   margin:0 auto 35px;
   justify-content: space-between;
   text-align:right;

 }
 .featured,
 .row{
display:flex;
max-width:1000px;
marging:0 auto;
}*/
/* @media (min-width: 0px) and (max-width: 480px) { */
  .row{
    display:flex;
    margin:0 auto;
    text-align:right;
    justify-content:space-between;
  }
}
